.event-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-modal-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 600px;
  background-color: white;
}

.event-modal-inner .modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
  cursor: pointer;
  color: red;
}

.edit-button {
  background-color: honeydew;
}
