.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar-container {
  margin: auto;
  height: 600px;
  width: 70%;
  max-width: 1000px;
}

.rbc-calendar {
  font-size: 14px;
  font-weight: bold;
}

.rbc-toolbar-label {
  font-size: 25px;
}

.edit-button {
  border: 1px solid gray;
  background-color: buttoncolor;
}

/* @media screen and (min-width: 321px) {
  .calendar-container {
    height: 250px;
    width: 250;
  }
  .rbc-btn-group{
    width: 65px;
  }
  .rbc-toolbar-label {
    width: 70px;
  }

}

@media screen and (min-width: 576px){
  .calendar-container {
    height: 250px;
  }
}

@media screen and (min-width: 768px) {
  .calendar-container {
    height: 450px;
    width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .calendar-container {
    height: 500px;
    width: 750px;
  }
}

@media screen and (min-width: 1200px) {
  .calendar-container {
    height: 500px;
    width: 750px;
  }
} */


.bills-container {
  justify-content: center;
  padding: 50px;
}

.bill-container {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid rgb(199, 196, 198);
  height: 100px;
  width: 200px;
  border-radius: 5px;
}

.delete-button {
  background-color: red;
  border-radius: 5px;
}

.bill-entry-container {
  justify-content: center;
}

.toggle-btn {
  padding: 5px;
  border-radius: 10%;
}

.home-button, .bills-button {
  padding: 5px;
  border-radius: 10%;
}

.links {
  padding-top: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  background-color: #555658;
}

.logo {
  padding-left: 10%;
}

.links {
  padding-right: 10%;
}

.gif-container {
  margin: auto;
  height: 600px;
  width: 70%;
  max-width: 1000px;
}

.calendar-container {
  padding-bottom: 2%;
}